In [4]:
import pandas as pd
import pymysql


connection = pymysql.connect(
    host='MacBook-Air-de-Pablo.local',
    user='root',
    password='MSa75047&',
    database='sakila'
)

query1 = """
select customer_id, count(*) as rental_count_may from rentals_may
group by customer_id
"""

query2 = """
select customer_id, count(*) AS rental_count_june from rentals_june
group by customer_id
"""

# Execute the queries and retrieve the results as dataframes
df1 = pd.read_sql_query(query1, connection)
df2 = pd.read_sql_query(query2, connection)

# Close the database connection
connection.close()

# Print the dataframes
print("Query 1: Number of rentals for each customer for the month of May")
print(df1)
print("\nQuery 2: Number of rentals for each customer for the month of June")
print(df2)

Query 1: Number of rentals for each customer for the month of May
     customer_id  rental_count_may
0            130                 2
1            459                 1
2            408                 3
3            333                 1
4            222                 5
..           ...               ...
515          191                 2
516          351                 1
517           10                 1
518          136                 1
519           61                 1

[520 rows x 2 columns]

Query 2: Number of rentals for each customer for the month of June
     customer_id  rental_count_june
0            416                  5
1            516                  6
2            239                  5
3            285                  3
4            310                  6
..           ...                ...
585          412                  1
586          335                  1
587          226                  2
588           22                  1
589          126                  1

[590 rows x 2 columns]

/var/folders/5y/_5l3y2p900scjg2bd7r52_lh0000gn/T/ipykernel_8774/1512063503.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df1 = pd.read_sql_query(query1, connection)
/var/folders/5y/_5l3y2p900scjg2bd7r52_lh0000gn/T/ipykernel_8774/1512063503.py:24: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df2 = pd.read_sql_query(query2, connection)

In [5]:
import pymysql

def compare_rentals(customer_id):
    connection = pymysql.connect(
        host='MacBook-Air-de-Pablo.local',
        user='root',
        password='MSa75047&',
        database='sakila'
    )

    query_may = f"""
    select count(*) as rental_count_may
    from rentals_may
    where customer_id = {customer_id}
    """

    query_june = f"""
    select count(*) AS rental_count_june
    from rentals_june
    where customer_id = {customer_id}
    """

    try:
        with connection.cursor() as cursor:
            cursor.execute(query_may)
            result_may = cursor.fetchone()
            rentals_may = result_may['rental_count_may']

            cursor.execute(query_june)
            result_june = cursor.fetchone()
            rentals_june = result_june['rental_count_june']

            if rentals_june > rentals_may:
                print(f"Customer {customer_id} borrowed more films in June compared to May.")
            elif rentals_june < rentals_may:
                print(f"Customer {customer_id} borrowed less films in June compared to May.")
            else:
                print(f"Customer {customer_id} borrowed the same number of films in June and May.")

    finally:
        connection.close()